body {
        line-height: 1.6;
		font-family: 'GlacialIndifferenceRegular';
        font-weight: normal;
        font-style: normal;
} 
      }
sidebar {
         /* position: fixed; */
         top: 80px;
         left: 10px;
         background: blue;
       }

hr {
          border: 0;
          margin-top: 60px;
          height: 1px;
          background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
      }
table {
        display: table;
        width: 100%;
        border-collapse: collapse;
        page-break-after: always;
        margin-bottom: 60px;
      }
table, th, td {
        border: 1px solid gray;
        text-align: center;
        line-height: 1.6;
      }
tr:hover {
        background-color: #f5f5f5;
      }
svg {
        display: block;
        margin-bottom: 60px;
        page-break-after: always;
      }
img {
        display: block;
        width: 100%;
        margin-bottom: 60px;
        page-break-after: always;
      }
